#container {
    background: url("../images/bg_image.jpg");
    background-size: cover;
    height: 100vh;
    font-family: 'Titillium Web', sans-serif;
}

#container .star-wars {
    padding: 20px;
}
#container .star-wars .star-wars-header .star-wars-header-title {
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    text-align: right;
    margin-right: 50px;
}

.character {
    background: #fff;
    border: 2px solid #356B3A;
    float: left;
    text-align: center;
    box-sizing: border-box;
    padding: 5px;
    width: 165px;
}

.character .character-img {
    height: 100px;
    width:140px;
}

.character .character-title {
    margin-bottom:2px;
}

.character .character-footer {
    margin-top:2px;
}


#container .star-wars .your-character {
    clear: both;
}


#container .star-wars .your-character .your-character-title {
    font-size: 40px;
}

#container .star-wars .enemies-subtitle {
    clear: both;
}


#container .star-wars .enemies-header {
    margin-top:40px;
}

#container .star-wars .enemies-header .enemies-header-title {
    margin-bottom:2px;
}


#container .star-wars .attack  {
    clear: both;
    margin:10px 0;
}